################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/second_programm/.vs/second_programm
/first_programm/.vs/first_programm
/.vs
